.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.input {
    width: 300px !important;
    margin-bottom: 15px !important;
    background-color: rgb(255, 255, 255, 0.5) !important;
}

@media screen and (min-width: 768px) {
    .input {
        width: 320px !important;
    }
}

@media screen and (min-width: 1200px) {
    .input {
        width: 350px !important;
    }
}

.button {
    margin-top: 10px !important;
}

.container {
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-image: linear-gradient(to bottom,
            rgba(214, 210, 210, 0.5),
            rgba(254, 247, 144, 0.5));
}